#include <zephyr/dt-bindings/sensor/icm45686.h>

&pinctrl {
	spi21_default_alt: spi21_default_alt {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 2, 6)>,
				<NRF_PSEL(SPIM_MOSI, 2, 8)>,
				<NRF_PSEL(SPIM_MISO, 1, 11)>;
		};
	};

	spi21_sleep_alt: spi21_sleep_alt {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 2, 6)>,
				<NRF_PSEL(SPIM_MOSI, 2, 8)>,
				<NRF_PSEL(SPIM_MISO, 1, 11)>;
			low-power-enable;
		};
	};
};

&spi21 {
	status = "okay";
	pinctrl-0 = <&spi21_default_alt>;
	pinctrl-1 = <&spi21_sleep_alt>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>;
	icm45686@0 {
		compatible = "invensense,icm45686";
		spi-max-frequency = <24000000>;
		reg = <0>;
		int-gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		accel-pwr-mode = <ICM45686_DT_ACCEL_LN>;
		accel-fs = <ICM45686_DT_ACCEL_FS_8>;
		accel-odr = <ICM45686_DT_ACCEL_ODR_100>;
		gyro-pwr-mode= <ICM45686_DT_GYRO_LN>;
		gyro-fs = <ICM45686_DT_GYRO_FS_4000>;
		gyro-odr = <ICM45686_DT_GYRO_ODR_100>;
		fifo-watermark = <100>;
	};
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};
