/ {
        chosen {
                zephyr,shell-uart = &bt_nus_console_uart;
        };

        bt_nus_console_uart: bt_nus_console_uart {
                compatible = "zephyr,nus-uart";
                rx-fifo-size = <1024>;
                tx-fifo-size = <1024>;
        };
        aliases {
                buzzer-pwm = &buzzer;
        };

        pwmbuzzer {
                compatible = "pwm-leds";
                status = "okay";

                buzzer: buzzer_pwm {
                        pwms = <&pwm0 0 PWM_HZ(4000) PWM_POLARITY_NORMAL>;
                };
        };
};
